[Desktop Entry]
Type=Application
Version=1.0
Name=Windows Virtual Machine
GenericName=Start Windows Gaming VM
Comment=Launches a Windows VM with dedicated graphics for high-performance applications
Exec=sh -c "virsh --connect=qemu:///system start win10; looking-glass-client -S -f /dev/kvmfr0 -g opengl;"
Icon=Win10Logo
Terminal=false
Categories=Application;Games;System
