CompileFlags:
  Add: [-I/opt/homebrew/include, -I/Library/Developer/CommandLineTools/SDKs/MacOSX14.0.sdk/usr/include, -I/opt/homebrew/Cellar/gcc/13.2.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/../../../../../../include/c++/13,-I/opt/homebrew/Cellar/gcc/13.2.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/../../../../../../include/c++/13/aarch64-apple-darwin22,-I/opt/homebrew/Cellar/gcc/13.2.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/../../../../../../include/c++/13/backward,-I/opt/homebrew/Cellar/gcc/13.2.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/include,-I/opt/homebrew/Cellar/gcc/13.2.0/bin/../lib/gcc/current/gcc/aarch64-apple-darwin22/13/include-fixed,-I/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk/usr/include,-I/Library/Developer/CommandLineTools/SDKs/MacOSX13.sdk/System/Library/Frameworks]
